<div class = "header">
    <div>
        <a href="/">
            <img class="logo"src={{logo}} alt="logo" /> 
        </a>
    </div>
    <div class="logout-div"><a href="/logout"><i class="fa fa-sign-out fa-3x" aria-hidden="true"></i><div>Salir</div></a></div>
</div>
<div class="main">
    <div class="margins-container">
        <div class="text-lista">Lista de Salas</div>
        <div class="crear-sala">
            <a href="#" type="button" class="btn btn-light">Crear Sala</a>
        </div>
        <div class="md-form mt-0 buscar">
            <input class="form-control" type="text" placeholder="Buscar Sala" aria-label="Search">
        </div>
    </div>
    <div class="margins-container">
        <div class="list-container">
            <ul class="ul-margins">
                {{#each roomNames}}
                    <li class="item-name cursor-pointer">
                        <a href="/salaDeChat" class="a-element-link-item">{{this}}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>