<div class="logo-div">
    <img src={{logo}} alt="logo" /> 
</div>

<div class="container">
    <div class="row margin-top-30">
        <div class="col-sm usuario-registrado">
            <div class="margin-top-30">
                <div class="row justify-concent-center">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="text" placeholder="Nombre">
                    </div>
                </div>
                <div class="row justify-concent-center margin-top-15">
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="email">
                    </div>
                </div>
                <div class="row justify-concent-center margin-top-15">
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password">
                    </div>
                </div>
                <div class="row justify-concent-center margin-top-15">
                    <div>Fecha de nacimiento</div>
                    <div class="col-sm-10">
                        <input class="form-control" type="date" id="example-date-input">
                    </div>
                </div>
                <div class="row justify-concent-center margin-top-15">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Mujer
                            </label>
                    </div>
                    <div class="form-check margin-left-20">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                            Hombre
                        </label>
                    </div>
                </div>
                </div>
                <div class="button-enter">
                    <a href="#" type="button" class="btn btn-light">Registrarse</a>
                </div>
                <div class="separation"></div>
                <div class="button-enter">
                    <a href="/" type="button" class="btn btn-dark">Cancelar</a>
                </div>
        </div>
        </div>
    </div>
</div>