body{
    background-color: #fcd728 !important;
}
.logo-div{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.center-text{
    display: flex;
    justify-content: center;
    color: black;
    font-weight: bold;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.align-vertical{
    display: flex !important;
    align-items: center;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-top-30{
    margin-top: 30px;
}
.display-flex{
    display: flex;
}
.justify-concent-center{
    display: flex;
    justify-content: center;
}
.cursor-pointer{
    cursor: pointer;
}
.display-flex .form-group{
    margin-left: 45px;
}
.button-enter{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.separation{
    border: 1px solid #e05a47;
    margin-top: 15px;
    padding-left: -53px;
    margin-left: 20%;
    margin-right: 20%;
}
#drop_zone {
    border: 2px solid #dc3545;
    text-align: center;
    padding: 3px;
    margin: 5px;
    border-radius: 5px;
    font-weight: 500;
}