body{
    background-color: #fcd728 !important;
}
.container{
    width: 40% !important;
}
.logo-div{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-left-20{
    margin-left: 20px;
}
.margin-top-30{
    margin-top: 30px;
}
.justify-concent-center{
    display: flex;
    justify-content: center;
}
.button-enter{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}