body{
    background-color: #fcd728 !important;
    display: flex;
    height: 100vh;
}
.center-image{
    position: absolute;
    left: 40px;
}
.logo{
    width: 100px;
    height: auto;
}
.margins-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100px;
    position: relative;
}
.main{
    width: 100%;
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.sub-header-right{
    background-color: #ffa834;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.margin-right-35{
    margin-right: 35px;
}
.margin-right-20{
    margin-right: 20px;
}
.active-conversations{
    border-top: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-top: 10px;
}
.display-flex{
    display: flex;
}
.friends-list{
    width: 15%;
    margin-left: 5px;
}
.text-area-chat{
    width: 70%;
    height: calc(100vh - 340px);
    background-color: #e6e6e6;
    display: flex;
    border-radius: 5px;
}
.rooms-list{
    width: 15%;
    margin-right: 5px;
}
.pink-title{
    background-color: #ff8351;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.item-name{
    list-style-type: none;
    height: 30px;
    border-bottom: 1px solid #e6e6e6;
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: white;
}
.item-name:last-child {
    border-bottom: none;
}
.item-name a{
    color:black;
}
.menu-header{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    border: 1px solid #e6e6e6;
}
.ul-margins{
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.cursor-pointer{
    cursor: pointer;
}
.text-area{
    background-color: white;
    width: 99%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.margin-top-20{
    margin-top: 20px;
}
.footer{
    position: absolute;
    bottom: 0;
    background-color: #d9534f;;
    width: 100%;
    height: 9vh;
}

.logout-div{
    display: flex;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

a {
    text-decoration: none !important;
    color: black !important;
}

a:hover{
   color:black !important;
}

.room-name{
    position: absolute;
    left: 40%;
    font-size: 20px;
    font-weight: bold;
}
.div-icon-add-friend{
    position: absolute;
    right: 25px;
    cursor: pointer;
}
.name-user{
    font-size: 20px;
    font-weight: bold;
}
.margins-container-subheader{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    position: relative;
}
.margin-top-15{
    margin-top: 15px;
}
.send-message{
    position: absolute;
    bottom: 9vh;
}
#chat-form{
    background: orange;
    padding: 10px;
    border-radius: 10px;
}
#chat-form input{
    width: 58vw;
    border: 0;
    padding: 10px;
}
#chat-form button{
    width: 10vw;
    background: #ffa834;
    border: none;
    font-weight: bold;
}
