<script src="js/salaDeChatNoRegistrado.js"></script>
<div class = "header">
    <div class="center-image">
        <a href="/">
            <img class="logo"src={{logo}} alt="logo" /> 
        </a>
    </div>
</div>

<div class="main">
    <div class="header-right">
        <div class="margins-container">
            <img src= {{avatar}} alt="Avatar" id="avatarImgSalaChat" class="avatar cursor-pointer margin-right-20">
            <div id="nombreUsuario"class="crear-sala margin-right-20"></div>
        </div>
    </div>
    <div class="sub-header-right">
        <div class="margins-container justify-content-space-around">
          
        </div>
    </div>
    <div class="main-container">
        <div class="friends-list">
            
        </div>
        <div class="text-area-chat">
            <div class="text-area">
                <ul id="messages"></ul>
                <form id="chat-form" onsubmit="return sendMessage(this)">
                    <input autocomplete="off" type="text" id="chat-text" /><button type="submit" form="chat-form" value="Submit">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer"></div>