<script src="js/salaDeChatNoRegistrado.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js"></script>

<div class="main">
    <div class="header-right">
        <div class="center-image">
            <a href="/">
                <img class="logo"src={{logo}} alt="logo" /> 
            </a>
        </div>
        <div class="room-name">Chatea GRATIS!</div>
        <div class="margins-container">
            <img  alt="Avatar" id="avatarImgSalaChat" class="avatar cursor-pointer margin-right-20">
            <div id="nombreUsuario"class="crear-sala margin-right-20"></div>
            <a id="logout"  href="/"><i class="fa fa-sign-out fa-2x margin-right-20" title="Salir"></i></a>
        </div>
    </div>
    <div class="main-container">
        <div class="friends-list">
            
        </div>
        <div class="text-area-chat" id="caca">
            <div class="text-area">
                <ul id="messages"></ul>
            </div>
        </div>
        <div class="container-form">
            <form id="chat-form" onsubmit="return sendMessage(this)">
                <input autocomplete="off" type="text" id="chat-text" /><button type="submit" form="chat-form" value="Submit">Enviar</button>
            </form>
        </div>
                
    </div>
</div>